

<section id="logo-section">
    <div class="login-icon" >
      <img src="assets/img/login-icon.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
    </div> 
    <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>    
    <div class="clearfix"></div>
    <div class="logo text-center">
      <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
    </div>
  </section>

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero" class="pb-0">

    <div class="">
      <div class="row d-flex align-items-center">
        <img src="assets/img/mountains-bg.png" alt="" class="img-fluid" />
    </div>
    </div>

  </section> -->

  <main id="main">
    

    <section id="aboutus" class="pt-0">
      <div class="container-padding">
    

        <!-- <div class="about-flower">
          <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
        </div>
        <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
          <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
        </div> -->

      <div class="about-us-ty">
        <div class="about-us-ty-content ">
          <div class="row">
            <div class="col-md-12">
              <h4> Accrediation with Traditional Yoga </h4> <br>
              <p>Vedic Nutraceuticals (VN) provides high quality products to support healthy living, informed by ancient sciences of Yoga and Ayurveda. </p>

              <p>  We believe in preventative health and work on the principle that every single input to the body matters. For these reasons, VN products are designed to support the practice of all limbs of yoga, including aspects such as cleansing, muscle building, respiratory health and meditation. </p>
                
              <p>  From the nutrition that we consume, to the water we drink and the air we breathe, everything has an effect on how we feel, how we live and who we are. Yoga is about conservation not consumption, about quality and not quantity. When we are healthy and happy we have less desire to consume. As a company established and run by volunteers, our wish is to facilitate and empower people to care for every cell in their bodies. </p>
                
              <p>  Vedic Neutraceuticals is a non-profit company owned and run by the volunteers of Traditional yoga. A very small mark-up on products generates funding which supports continuous production and development of products to the very highest stanards. </p>
                
              <p>  With an extensive background and knowledge in chemistry and nutrition Dr. Kumar carries out all research and development of Vedic Neutraceutical products. Under Dr. Kumar’s expert guidance, the purest and highest quality of ingredients are sourced and the highest standards of production are maintained to ensure the best nutrition is made available. </p>
              
            </div>
           
          </div>
          <div class="clearfix"></div> <br>
          
        </div>
        <div class="align-items-center">
          <img src="assets/img/mountains-bg.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
    </section>


    <section id="mentor" class="pt-0 about-anilkumar-block">
      <div class="container-padding">
      <div class="row">
        <div class="col-md-4">
          <div class="mentor-circle">

          <div class="mentor-circle12">
              <div class="mentor-quote">
                  <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>

                  <p class=""> - Dr. ALV Kumar </p>
              </div>
          </div>
        </div>
        </div>


        <div class="col-lg-7">
          <div class="mentor-block">
            <div class="mentor-content ">
              <h4> Dr. ALV Kumar </h4> <br>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbodyUncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbodyUncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbodyUncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>

              <div class="float-right">
              <div class="btn btn-outline-light rounded-pill btn-sm btn-knowmore"  data-bs-toggle="modal" data-bs-target="#exampleModal" > Know More</div>
            </div>

            </div>
          </div>

            <div class="anikumar-img">
              <img src="assets/img/anikumar-about.png" alt="" width="280" class="img-fluid" />
            </div>


        </div>

        <div class="river-flower text-center" style="position:relative; left:35%; ">
          <img src="assets/img/river-flower.png" alt="flower" width="150" 
          class="img-fluid" />
          </div>
        <div class="river-about">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div> 
        </div>
        
        <div class="vedic-right-lotus">
          <img src="assets/img/right-lotus.png" alt="" class="img-fluid">
        </div>

  

        
  </div>
  <div class="clearfix"></div> <br>

        <div class="guidelince text-center ">
        <h6> <b>Under Dr.ALV Kumar's guidance, we deliver various programs under the banner of 'Traditional Yoga' </b></h6> 
          </div>
    </section>


  <section id="yoga-foundation">
    <div class="container-padding">
        <div class="foundation">
          <div class="row vertical-align">
            <div class="col-md-7">
              <div class="yoga-guidelines">
                <h4> Yoga Healing Foundation </h4> <br>
                <p>
                  The aim of Yoga Healing Foundation of America Inc. is to restore an understanding of the relationship of the different limbs of yoga and to present this knowledge in its original, whole and undiluted practical form for the benefit of all practitioners and teachers. Hatha Yoga for the body and Raja Yoga for the mind. Many of our programs are taught by Dr. A.L.V. Kumar, an inspirational teacher and yoga master. </p>

<p> Across the USA and the globe, we run online yoga and meditation teacher training programs. In India we help to fund a range of local yoga and meditation programs and events, including Yoga teacher training courses and a 15 day winter meditation retreat. </p>

<p>The courses are all run as a charitable not-for profit activity. They cover both theory and practice of Hatha and Raja Yoga, for the purpose of promoting the study and practice of traditional yoga, advancing the education of the public in its healing, preventative and therapeutic effects, and promoting the mental, physical and spiritual health of the public.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-ty-donation-btn text-center">
                <img src="assets/img/ty-icon.png" alt="" class="img-fluid" />
                <br>
                <div class="donate-now pt-3">
                  <div class="btn btn-donate btn-knowmore rounded-pill"> Donate </div> <br>
                  <p class="donate-text pt-4 text-white"> Alming to feed the soul the best of nutrients for the improverished</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <div id="mumuksha" class="pb-0 pt-0">
    <div class="mumuksha-msg" data-aos="fade-left">
      <div class="mumuksha-msg-circle">
        <div class="mumuksha-msg-quote">
            <p>Gratitude is experience truth the cultivation of positivity</p>

            <p class=""> - Dr. ALV Kumar </p>
        </div>
    </div>
</div>

</div>
  
   </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">

        <div class="modal-body about">
          <div class="row">
            <div class="col-md-4">
              <div class="about-circle-popup">
                  <div class="about-quote-popup">
                      <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
    
                      <p class=""> - Dr. ALV Kumar </p>
                  </div>
              </div>
            </div>

            <div class="col-md-4">
              <h4 class="float-right pt-3"> Dr. ALV Kumar</h4>
            </div>

            <div class="col-md-4">
              <div class="anikumar-img-popup">
                <img src="assets/img/about-popup-img.png" alt="" class="img-fluid" />
                
                <div class="butter-fly-popup animate__animated animate__fadeInTopLeft animate__delay-3s">
                  <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
                </div>
                <div class="about-flower-popup">
                  <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid">
                </div>

              </div>
              
            </div>
            
                
            </div>


            <div class="row">
              <div class="about-popup-content">
              <p>  The Yoga Healing Foundation of America Inc. aims to protect, revive and disseminate original, undiluted and complete yogic knowledge (both theory and practice) in its purest form for the benefit of the public and public wellbeing in the USA, UK and India. </p>

<p> In the USA we deliver this through courses and training programs. All Traditional Yoga weekend courses are led by experienced teachers who have undergone extensive training and choose to teach on a voluntary basis. Their support enables us to offer courses at a low cost and to bring the benefits of meditation to as many people as possible. All the money raised from our weekend courses and retreats is reinvested back into the charity and used to fund our charitable programs. We fund full bursaries and partially subsidized places for our courses. </p>

<p> Yoga is a tradition that has been passed down through generations of teachers in India and many practices and techniques are as yet unknown in the West and in mainstream yoga schools. Many of these practices are dying out and are increasingly difficult to access. The Charity’s aim is to protect the completeness of the yoga tradition and ensure that knowledge is not lost but rather revived for the benefit of practitioners and teachers regardless of geographical location and/or language barriers. </p>

<p> The Charity has an established connection to India, primarily to guarantee its authenticity at source but also as a means to safeguard the continuation of traditional knowledge in its original cultural setting for the benefit of future generations. </p>

<p> Charitable grants to support projects in India
We make charitable grants to Yoga Healing Foundation India, with whom we have an established collaborative relationship, to organize and deliver programs that align to our aims and objectives. </p>

<p>Hyderabad has a population of about 7.75 million, making it the fourth most populous city in India. Like all Indian cities it has seen a sharp rise in lifestyle diseases and a decline of traditional knowledge such as yoga practice and dietary awareness. For example, a survey conducted by the Associated Chamber of Commerce and Industry found that 68% of urban women in India between 21 and 52 suffer from lifestyle diseases such as obesity, depression, chronic backache, diabetes, hypertension and generalized anxiety disorder. </p>
<p> Yoga is a tradition that has been passed down through generations of teachers in India and many practices and techniques are as yet unknown in the West and in mainstream yoga schools. Many of these practices are dying out and are increasingly difficult to access. The Charity’s aim is to protect the completeness of the yoga tradition and ensure that knowledge is not lost but rather revived for the benefit of practitioners and teachers regardless of geographical location and/or language barriers. </p>

<p> The Charity has an established connection to India, primarily to guarantee its authenticity at source but also as a means to safeguard the continuation of traditional knowledge in its original cultural setting for the benefit of future generations. </p>

<p> Charitable grants to support projects in India
We make charitable grants to Yoga Healing Foundation India, with whom we have an established collaborative relationship, to organize and deliver programs that align to our aims and objectives. </p>

<p>Hyderabad has a population of about 7.75 million, making it the fourth most populous city in India. Like all Indian cities it has seen a sharp rise in lifestyle diseases and a decline of traditional knowledge such as yoga practice and dietary awareness. For example, a survey conducted by the Associated Chamber of Commerce and Industry found that 68% of urban women in India between 21 and 52 suffer from lifestyle diseases such as obesity, depression, chronic backache, diabetes, hypertension and generalized anxiety disorder. </p>


              </div>
            </div>
        </div>
      </div>

      </div>
    </div>
  </div>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>