

 <section id="logo-section">
    <div class="login-icon" >
      <img src="assets/img/login-icon.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
    </div> 
    <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>    
    <div class="clearfix"></div>
    <div class="logo text-center">
      <a href="index.html"><img src="assets/img/ty-logo.png"  alt="" class="img-fluid"></a>
    </div>
  </section>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="pb-0">

    <div class="">
      <div class="row d-flex align-items-center">
        <img src="assets/img/mountains-bg.png" alt="" class="img-fluid" />
    </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    

    <section id="aboutus" class="pt-0">
      <div class="container-padding">
      <div class="row">
        <div class="col-md-4">
          <div class="about-circle">
              <div class="about-quote">
                  <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>

                  <p class=""> - Dr. Anil Kumar </p>
              </div>
          </div>
        </div>
            
        </div>

        <div class="about-flower">
          <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
        </div>
        <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
          <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
        </div>

      <div class="about-ty">
        <div class="about-ty-content ">
          <div class="row">
            <div class="col-md-5">
              <h6> Dr. Anil Kumar </h6> <br>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbodyUncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <div class="btn btn-outline-secondary rounded-pill btn-sm btn-knowmore"> Know More</div>
            </div>
            <div class="col-md-1"></div>

            <div class="about-right-lotus">
              <img src="assets/img/right-lotus.png" alt="" class="img-fluid" />
            </div>

            <div class="col-md-6">
              <h6> The Yoga Healing Foundation </h6><br>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbodyUncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>
              <div class="btn btn-outline-secondary rounded-pill btn-sm btn-knowmore"> Know More</div>
            </div>
          </div>
          <div class="clearfix"></div> <br>
          <h6> <b>Under Dr. Anilkumar's Guidelines, we deliver variou programs under the banner of "Tradirional Yoga" </b></h6>
        </div>
    </div>
  </div>
    </section>

    <section id="offerings" class="pt-0 pb-3">
      <div class="river-bg">
        <img src="assets/img/river-bg.png" alt="" class="img-fluid" />
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="offerings-left ">
              <div class="river-flower text-center">
              <img src="assets/img/river-flower.png" alt="flower" width="150" 
              class="img-fluid" />
              </div>

              <div class="donation-btn">
                <div class="donate-now">
                  <div class="btn btn-donate btn-knowmore rounded-pill"> Donate </div> <br>
                  <p class="donate-text pt-4 text-white"> Alming to feed the soul the best of nutrients for the improverished</p>
                </div>
              </div>
            </div>
        </div>
        
        <div class="col-md-6">
          
          <div class="offerings-circle">
            <div class="offerings-text">
                <h5 class="pl-2"> Our Offerings</h5>
                <ul>
                  <li> Free Online Class</li>
                  <li> In-Personal Meditation</li>
                  <li> Access to Old Scriptures</li>
                  <li> Unique Product Formulated by Guruji</li>
                  <li> In-Personal Training </li>
                  <li> Knowledge for All</li>
                </ul>
            </div>
          </div>
          <div class="offering-flower">
            <img src="assets/img/offering-lotus.png" alt="" width="150px" class="img-fluid" />
          </div>
        </div>
        </div>



    </section>

    <section id="code-descipline" class="pt-0">
      <div class="container-padding">
      <div class="row">
        <div class="col-md-6">
            <div class="descipline-video">
              <iframe width="100%" height="350" src="https://www.youtube.com/embed/SDXHcR5AL6E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div> <br>
            <p class="text-center text-uppercase"> <b> Code Of Descipline </b> </p> 
        </div>
        <div class="col-md-6">
          
          <div class="descipline-content align-items-center">
            <div class="row">
              <div class="col-md-2">
                <div class="divider-line"></div>
              </div>
              <div class="col-md-6">
                <div class="discipline-text">
                <p class=""> Traditional Yoga is for serious aspirants who look to Yoga for complete transformation purification and liberation of the body, mind and sole. The first correct steps in undertaking a course are to read, understand and adhere to the strict code of coundct.</p>
              </div>
              </div>
            </div>
            <div class="discipline-lotus text-center">
              <img src="assets/img/desciplan-lotus.png" alt="" width="120" class="img-fluid" />
            </div>
            
          </div>
        </div>
      </div>
      </div>
    </section>


    <section id="courses">
      <div class="container-padding">
      <div class="upcoming-courses">
        <div class="row">
          <div class="col-md-4">
            <div class="upcoming-left">
            <p> We are proud to accredited with international Yoga Alliance and to issues certificate witch inturn can register upon free of subscription fee. </p> <br>
            <div class="float-right">
            <div class="btn btn-outline-secondary rounded-pill btn-sm btn-knowmore"> Know More</div>
          </div>
            </div>
            <div class="upcoming-left-img">
              <img src="assets/img/courses-flower.png" alt="" width="200" class="img-fluid" />
            </div>
            <div class="courses-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
              <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
            </div>


          </div>
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-8">
            <div class="upcoming-courses">
              <div class="black-border">
              <div class="black-circle">
                <div class="course-img">
                  <img src="assets/img/about.jpg" alt="" class="img-fluid rounded-circle" />
                </div>                
              </div>
            </div>

              <div class="upcoming-squarebox">
                <div class="courses-lotus-right">
                  <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
                    <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
                  </div>
                </div>
                
                <div class="upcoming-courses-content">
                    <h6> Upcoming Courses   &nbsp; &nbsp;  <div class="btn btn-outline-secondary rounded-pill btn-sm btn-knowmore btn-small"> Enrole Now</div> </h6> <br>

                    <p><b> Oct 3rd to Dec 23rd, 2022 </b></p>
                    <h6> Free Online RYIT 200/500 Theraputic Yoga and Meditation Certification Center.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      

      </div>
      <div class="river-bg2">
        <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
      </div> 

    </section>

    <section id="clients-sec" class=""> 
      
      <div class="container-padding">
      <div class="guruji-msg">
        <div class="guruji-msg-circle">
          <div class="guruji-msg-quote">
              <p>Gratitude is experience truth the cultivation of positivity</p>

              <p class=""> - Dr. Anil Kumar </p>
          </div>
      </div>
 </div>
      
      <div class="testmonials">
        <h5> An expression of apprication</h5>
      <div class="regular slider">
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        <div class="slide-border">
          <div class="slide-bg">
            <div class="video-play d-inline">
              <img src="assets/img/video-play.png" width="35" alt="" /> <br>
              <p>Rabout Dasouga<br>
              USA</p>
            </div>
            <div class="video-thumb">
            <img src="assets/img/testimonial-video-img.png" alt=""  width="80"/>
            </div>
        </div>
        </div>
        
      </div>
      </div>
      <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
      <div class="discipline-lotus text-center"> <br>
        <img src="assets/img/desciplan-lotus.png" alt="" width="120" class="img-fluid" />
      </div>
    </div>
    </div>

    </div>
    </section>



  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
