

<section id="logo-section">
    <div class="login-icon" >
      <img src="assets/img/login-icon-vedic.png" alt="" class="img-fluid  animate__animated animate__backInRight animate__delay-2s" />
    </div> 
    <div class="lotus-left">
      <img src="assets/img/lotus-left.png" alt="" class="img-fluid flower-left" />
    </div>    
    <div class="clearfix"></div>
    <div class="logo text-center">
      <a href="index.html"><img src="assets/img/vedic-nutricals-text.png"class="img-fluid"></a>
    </div>
  </section>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="pb-0">

    <div class="">
      <div class="row d-flex align-items-center">
        <img src="assets/img/vedic-nutricals-bg.png" alt="" class="img-fluid" />
    </div>
    </div>

  </section>

  <main id="main">
    

    <section id="vedic-nutricals" class="pt-0">
      <div class="container-padding">


        <!-- <div class="about-flower">
          <img src="assets/img/about-right-content-flower.png" alt="" class="img-fluid"/>
        </div>
        <div class="about-butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
          <img src="assets/img/courses-butterfly.png" alt="" class="img-fluid dragon-fly" />
        </div> -->

      <div class="vedic-ty">
        <div class="vedic-ty-content ">
          <div class="row">
            <div class="col-md-12">
              <h6> Dr. Anil Kumar </h6> <br>
              <p>Vedic Nutraceuticals (VN) provides high quality products to support healthy living, informed by ancient sciences of Yoga and Ayurveda. </p>

              <p>  We believe in preventative health and work on the principle that every single input to the body matters. For these reasons, VN products are designed to support the practice of all limbs of yoga, including aspects such as cleansing, muscle building, respiratory health and meditation. </p>
                
              <p>  From the nutrition that we consume, to the water we drink and the air we breathe, everything has an effect on how we feel, how we live and who we are. Yoga is about conservation not consumption, about quality and not quantity. When we are healthy and happy we have less desire to consume. As a company established and run by volunteers, our wish is to facilitate and empower people to care for every cell in their bodies. </p>
                
              <p>  Vedic Neutraceuticals is a non-profit company owned and run by the volunteers of Traditional yoga. A very small mark-up on products generates funding which supports continuous production and development of products to the very highest stanards. </p>
                
              <p>  With an extensive background and knowledge in chemistry and nutrition Dr. Kumar carries out all research and development of Vedic Neutraceutical products. Under Dr. Kumar’s expert guidance, the purest and highest quality of ingredients are sourced and the highest standards of production are maintained to ensure the best nutrition is made available. </p>
             
            </div>  
          </div>   
        </div>

        
        
    </div> <br>
    <div class="w-100 text-center">
    <div class="btn btn-donate btn-knowmore rounded-pill m-center"> Visit the Pages </div>
  </div>

    <div class="vedic-right-lotus">
      <img src="assets/img/right-lotus.png" alt="" class="img-fluid" />
    </div>
  </div>
    </section>

    <section id="mumuksha" class="pb-0 pt-0">
      <div class="mumuksha-msg" data-aos="fade-left">
        <div class="mumuksha-msg-circle">
          <div class="mumuksha-msg-quote">
              <p>Gratitude is experience truth the cultivation of positivity</p>

              <p class=""> - Dr. Anil Kumar </p>
          </div>
      </div>
 </div>

    </section>


  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
