


 <header id="header">
    <div class="lotus-top animate__animated animate__backInRight animate__delay-1s">
      <img src="assets/img/lotus-top.png" alt="" class="img-fluid flower-top"/>
    </div>
    <div class="butter-fly animate__animated animate__fadeInTopLeft animate__delay-3s">
      <img src="assets/img/Dragonfly-gif.gif" alt="" class="img-fluid dragon-fly" />
    </div>
    <div class="container d-flex align-items-center justify-content-between">
 
 
      <!-- <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">HOME</a></li>
          <li><a class="nav-link scrollto" href="aboutus.html">About Us</a></li>
          <li><a class="nav-link scrollto" href="#">Services</a></li>
          <li><a class="nav-link scrollto" href="#">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#">Team</a></li>
          <li><a class="nav-link scrollto" href="vedic-neutraceuticles.html">VEDIC NUTRACEUTICALS</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class=" animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"></i>
      </nav> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Upcoming Courses</a></li>
          <!-- <li><a class="nav-link scrollto active" href="index.html">HOME</a></li> -->
          <li><a class="nav-link scrollto" href="aboutus.html">About Us</a></li>
          <li><a class="nav-link scrollto" href="offerings.html">Our Offerings</a></li>
          <li><a class="nav-link scrollto" href="donations.html">Donate</a></li>
          <li><a class="nav-link scrollto" href="#">Knowledge for all</a></li>
          <li><a class="nav-link scrollto" href="#">Gallery</a></li>
          <li><a class="nav-link scrollto" href="vedic-neutraceuticles.html">VEDIC NUTRACEUTICALS</a></li>
        </ul>
        <i class=" animate__animated animate__bounceInDown animate__delay-1s bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
    <div class="clearfix "></div>
 
 
  </header>
 
 