


 <!-- ======= Hero Section ======= -->
 <section id="hero" class="pb-0">

    <div class="">
      <div class="row d-flex align-items-center">
        <img src="assets/img/donations-bg.png" alt="" class="img-fluid" />
    </div>
    </div>

  </section>

  <main id="main">
   

    <section id="our-aim" class="pt-0 about-anilkumar-block pb-0">
      <div class="container-padding">
      <div class="row">
        <div class="col-md-4 mt-5">
          <div class="ouraim-circle ">

          <div class="ouraim-circle12 ">
              <div class="ouraim-quote">
                  <p>Uncontrolled movement of teh mind consumes the most energy, more than the phisicalbody</p>

                  <p class=""> - Dr. Anl Kumar </p>
              </div>
          </div>
        </div>
        </div>


        <div class="col-lg-7">
          <div class="ouraim-block">
            <div class="ouraim-content ">
              <h4> Our Aim </h4> <br>
              
              

               <p> Protect  &nbsp; &nbsp; &nbsp;  Revive    &nbsp; &nbsp; &nbsp;   Disseminate </p>
                
               <p> original, undiluted and complete yogic knowledge, both theory and practice in its purest form for the benifit of the public and public wellbeing of entire world. </p>

               <p>The courses are all run as charitable not-for profit activity. </p> 


            </div>
          </div>

            


        </div>

        <!-- <div class="river-flower text-center" style="position:relative; left:35%; ">
          <img src="assets/img/river-flower.png" alt="flower" width="150" 
          class="img-fluid" />
          </div>
        <div class="river-about">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div>  -->
        </div>
        
        <div class="donations-right-lotus">
          <img src="assets/img/donations-right-flower.png" alt="" class="img-fluid">
        </div>
  
  </div>
 
    </section>




    <section id="the-charity" class=" about-anilkumar-block pt-0">
      <div class="container-padding">
      <div class="row">
        
        <div class="col-lg-7 mt-5">
          <div class="charity-block">
            <div class="charity-content ">
              <p class="float-right">
                <img src="assets/img/donation-logo.png" width="100" alt="" class="img-fluid" />
              </p>
              <div class="clearfix"></div>
              <h4> The Charity </h4> <br>
              
               <p> original, undiluted and complete yogic knowledge, both theory and practice in its purest form for the benifit of the public and public wellbeing of entire world. </p>

               <p>original, undiluted and complete yogic knowledge, both theory and practice in its purest form for the benifit of the public and public wellbeing of entire world.  </p> 
            </div>
          </div>

        </div>


        <div class="col-md-4 ">
          <div class="ouraim-circle ">

          <div class="charity-circle12 ">
              <div class="charity-quote">
                  <p class="pb-2"> 
                    <img src="assets/img/india.png" width="50" alt="" /> 
                    <span class="font-bold">
                      TRUST # 
                      91/2012
                    </span>
                  </p>
                  <p> 
                    <img src="assets/img/british.png" width="50" alt="" />
                    <span class="font-bold">
                      EIN# 
                      47-4872198
                    </span>
                  </p>
                  <p> 
                    <img src="assets/img/england-icon.png" width="50" alt="" />
                    <span class="font-bold">
                      CHARITY#      
                      1153094
                    </span>
                  </p>
              </div>
          </div>
        </div>
        </div>

        <div class="river-flower text-center" style="position:relative; left:35%; padding-top: 0px; ">
          <img src="assets/img/river-flower.png" alt="flower" width="150" 
          class="img-fluid" />
          </div>
        <div class="river-about" style="bottom:10%">
          <img src="assets/img/river-bg2.png" alt="" class="img-fluid" />
        </div> 
        </div>
        
        <!-- <div class="donations-right-lotus">
          <img src="assets/img/donations-right-flower.png" alt="" class="img-fluid">
        </div> -->
  
  </div>
 
    </section>



    <section id="programs-funded">
      

        <div class="container">
          <div class="row grid-divider text-white">
            <div class="offerings-line">
              <h4 class="float-right text-white"> Programs Funded</h4>
              <div class="clearfix"></div>
              <img src="assets/img/offerings-line.png" alt="" class="w-75"  />
              <span class="text-sm float-right text-white">  The few programs we fund include </span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-1">Some content</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-2">
                  Some content Some content Some content Some content Some content
                </div>
              </div>
            </div>
      
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-5">Some content Some content Some content</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-7">Some content Some content Some content</div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              <div class="programs">
                <div class="programs-body pt-9">Some content Some content Some content</div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-2 my-1">
              
            </div>
          </div>
        </div>
      
      

    </section>



  <!-- <section id="yoga-foundation">
    <div class="container-padding">
        <div class="foundation">
          <div class="row vertical-align">
            <div class="col-md-7">
              <div class="yoga-guidelines">
                <h4> Yoga Healing Foundation </h4> <br>
                <p>
                  The aim of Yoga Healing Foundation of America Inc. is to restore an understanding of the relationship of the different limbs of yoga and to present this knowledge in its original, whole and undiluted practical form for the benefit of all practitioners and teachers. Hatha Yoga for the body and Raja Yoga for the mind. Many of our programs are taught by Dr. A.L.V. Kumar, an inspirational teacher and yoga master. </p>

<p> Across the USA and the globe, we run online yoga and meditation teacher training programs. In India we help to fund a range of local yoga and meditation programs and events, including Yoga teacher training courses and a 15 day winter meditation retreat. </p>

<p>The courses are all run as a charitable not-for profit activity. They cover both theory and practice of Hatha and Raja Yoga, for the purpose of promoting the study and practice of traditional yoga, advancing the education of the public in its healing, preventative and therapeutic effects, and promoting the mental, physical and spiritual health of the public.
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="about-ty-donation-btn text-center">
                <img src="assets/img/ty-icon.png" alt="" class="img-fluid" />
                <br>
                <div class="donate-now pt-3">
                  <div class="btn btn-donate btn-knowmore rounded-pill"> Donate </div> <br>
                  <p class="donate-text pt-4 text-white"> Alming to feed the soul the best of nutrients for the improverished</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section> -->

  <section id="donations-circle">
    <div class="donation-circle ">
      <div class="donate-circle2">
      <div class="donars-region">
          <h4 class="text-center text-white pb-5">Donations</h4>
          <p class="pb-3 pb-5 align-text-top"> 
            <span  class="w-50"> For India donors: </span> 
            <span data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-donate btn-knowmore rounded-pill float-right"> Click Here </span></p>
          <p class="pb-3 align-text-top"> 
            <span class="w-50"> For USA, UK , Europe and <br>
            Rest of the world donors, <br>
            make the donations below: </span> 
            <span data-bs-toggle="modal" data-bs-target="#exampleModalUK" class="btn btn-donate btn-knowmore rounded-pill float-right "> Click Here </span></p>
      </div>
    </div>
    </div>
  </section>

  <div id="mumuksha" class="pb-0 pt-0">
    <div class="mumuksha-msg" data-aos="fade-left">
      <div class="mumuksha-msg-circle">
        <div class="mumuksha-msg-quote">
            <p>Gratitude is experience truth the cultivation of positivity</p>

            <p class=""> - Dr. ALV Kumar </p>
        </div>
    </div>
</div>

</div>
  

  </main><!-- End #main -->



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">

        <div class="modal-body">
         


            <div class="row">
              <div class="about-popup-content p-5">
             
                <form>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Name">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Email Id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contact No</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-sm-6">
                      <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Taxpayer Identification Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Passport Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Elector’s photo Identity number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-sm-12"> 
                        <div class="btn btn-popup  rounded-pill"> Submit</div>
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Donation
                      Amount</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Stripe
                      Credit Card</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Name on 
                      card </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Message </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row pt-2">
                    <div class="col-sm-12"> 
                      <div class="btn btn-popup  rounded-pill"> Make Payment </div>
                    </div>
                </div>
                </form>


              </div>
            </div>

        </div>
      </div>

      </div>
    </div>
  </div>


   <!-- Modal -->
   <div class="modal fade" id="exampleModalUK" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="about-popup">

        <div class="row">
              <div class="about-popup-content p-5">
             
                <form>
                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Name">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Address </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Address">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email </label>
                    <div class="col-sm-10">
                      <input type="text" readonly class="form-control" id="staticEmail" placeholder="Email Id">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Contact No</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="col-11 float-right">
                  <div class="form-group row">
                    <label for="inputPassword float-right" class="col-sm-5 col-form-label"> Are you an Indian citizen?</label>
                    <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">Yes</label>
                    </div> &nbsp; &nbsp; &nbsp; 
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">No</label>
                    </div>
                   </div>
                  </div>
                  </div>
                  <div class="clearfix"></div>

                  <div class="col-11 float-right">
                    <div class="form-group row">
                      <label for="inputPassword float-right" class="col-sm-5 col-form-label">Do you want 80G 
                        tax benefits?</label>
                      <div class="col-sm-6">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                      </div> &nbsp; &nbsp; &nbsp; 
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                     </div>
                    </div>
                    </div>
                    <div class="clearfix"></div>



                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">PAN
                      Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label text-right">Adhaar
                      Number</label>
                    <div class="col-sm-6">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

          
                  <div class="form-group row">
                      <div class="col-sm-12"> 
                        <div class="btn btn-popup  rounded-pill"> Submit</div>
                      </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Donation
                      Amount</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right">Stripe
                      Credit Card</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Name on 
                      card </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label text-right"> Message </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                  </div>

                  <div class="form-group row pt-2">
                    <div class="col-sm-12"> 
                      <div class="btn btn-popup  rounded-pill"> Make Payment </div>
                    </div>
                </div>
                </form>


              </div>
            </div>

      </div>

      </div>
    </div>
    </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
